| Name       | Age     | City       |
|:----------:|:-------:|:----------:|
| Alice      | 24      | New York   |
| Bob        | 30      | San Diego  |
| Charlie    | 28      | Chicago    |

$$
\sqrt{a + b}
$$